.thumbnail {
    max-width: 200px;
}

.random-image {
    width: auto;
    max-height: 35em;
}

html,
body {
    height: 100%;
}

.page-content {
    flex: 1 0 auto;
}

.img-thumbnail.random-image {
    padding: 10px;
    border-radius: .25rem;
    background-color: transparent;
    transition: background-color 1s;
}